<form role="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="border border-primary rounded p-4">
        <h5 class="text-center mb-4"></h5>
        
        <!-- Form Fields -->
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="d-block">{{ field.label }}</label>
            
            <!-- Handle checkboxes -->
            {% if field.type == 'checkbox' %}
                <div class="form-check">
                    {{ field }} {{ field.label }}
                </div>
            {% else %}
                {{ field.errors }}
                {{ field }}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    
    <div class="text-center mt-4">
        <button type="submit" class="btn custom-box-gradient-green btn-lg rounded-pill px-4">
            {% if button_text %}
            {{ button_text }}
            {% else %}
            Submit
            {% endif %}
        </button>
    </div>
</form>
