{%extends 'base.html' %}


{% block content %}

  <div class="container-fluid">
    <div class="row">
    <div class="col">
      </div>
            <div class="col-lg-5 shadow-lg mt-5 p-4">                
                <input type="hidden" name="que_no" value="{{ que_no }}">
                <input type="hidden" name="que_no" value="{{ que_no }}">
                <form method="POST" action="{%url 'store_ans' %}">
               
                    {% for q in range_list %}
                        {% csrf_token %}
                             <br><br>
                            {{q}}.  
                            <div class="form-check form-check-inline col-lg-2 pb-2">
                               
                                <input class="form-check-input" type="radio" name="question_{{ q }}" id="inlineRadio1" value="0">
                                <label class="form-check-label" for="inlineRadio1">A</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="question_{{ q }}" id="inlineRadio1" value="1">
                                <label class="form-check-label" for="inlineRadio1">B</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="question_{{ q }}" id="inlineRadio1" value="2">
                                <label class="form-check-label" for="inlineRadio1">C</label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="question_{{ q }}" id="inlineRadio1" value="3">
                                <label class="form-check-label " for="inlineRadio1">D</label>
                            </div>
                            
                      
                    {% endfor %}
                    <br>
                    <button class="btn btn-primary" type="submit" >Store Answers</button>
                </form>
            </div>
            <div class="col">
                One of three columns
              </div>
            
            </div>
        
            </div>

{% endblock %}