{% extends 'base.html' %}

{% block custom_css %}
 <style>

.make_pdf{
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.form_pdf{
    background-color: rgb(69 164 181);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}


 </style>

{% endblock custom_css %}
{%block content %}
<div class="container-fluid" >
    <div class="row align-items-start">
        <div class="col">
          </div>
        <div class="col-lg-4 shadow-lg mt-5 p-4 make_pdf">
          

                    <form method="POST" action="{% url 'create_pdf' %}" class="form_pdf">
                        {% csrf_token %}
                        <div class="mb-3 col-5">
                            <label for="formGroupExampleInput" class="form-label">File Name</label>
                            <input type="text" name="file_name" class="form-control" id="formGroupExampleInput" placeholder="">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="formGroupExampleInput2" class="form-label">Number of Questions</label>
                            <input type="number" name="q_no" class="form-control" id="formGroupExampleInput2" min="1" placeholder="1">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="formGroupExampleInput2" class="form-label">Course Name</label>
                            <input type="text" name="course_code" class="form-control" id="formGroupExampleInput3" placeholder="">
                        </div>
                        <button class="btn btn-light" type="submit" >Create PDF</button>
                    </form>
                    

                    <script>
                        document.querySelector('form').addEventListener('submit', function (event) {
                            event.preventDefault();

                            // Send the form data
                            const formData = new FormData(this);

                            fetch(this.action, {
                                method: 'POST',
                                body: formData,
                            })
                            .then((response) => {
                                if (response.ok) {
                                    // Trigger the file download
                                    return response.blob().then((blob) => {
                                        const url = window.URL.createObjectURL(blob);
                                        const link = document.createElement('a');
                                        link.href = url;
                                        link.download = response.headers.get('Content-Disposition').split('filename=')[1];
                                        link.click();

                                        // Redirect after download
                                        const redirectUrl = response.headers.get('Redirect-After-Download');
                                        if (redirectUrl) {
                                            window.location.href = redirectUrl;
                                        }
                                    });
                                } else {
                                    alert('Error generating PDF.');
                                }
                            });
                        });
                    </script>

                    <!--
                
                    <input type="hidden" name="que_no" value="{{ que_no }}">
                    <p>The else has worked</p>
                    
                        <form method="POST" action="{%url 'store_ans' %}">
                            {% csrf_token %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="question_{{ q }}" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">A</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="question_{{ q }}" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">B</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="question_{{ q }}" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">C</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="question_{{ q }}" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">D</label>
                            </div>
                        </form>
                    
                        
                        
                
                    -->
                </div>   
                <div class="col">
                  </div>
            
    </div>

</div>
{% endblock %}