{% extends 'main_app/base.html' %}
{% load static %}
{% block custom_css %}
  <style>
      .invalid {
        font-style: italic;
        font-weight: bold;
        color: red;
      }
      .valid {
        font-style: italic;
        font-weight: bold;
        color: green;
      }
  </style>
{% endblock custom_css %}

{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{ page_title }}</h3>
                    </div>

                    {% include "main_app/form_template.html" with messages=messages form=form button_text="Add Student" %}
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block custom_js %}
<script>
    function validateEmail(email) {
        const re = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        return re.test(String(email).toLowerCase());
    }

    $(document).ready(function() {
        $("#id_email").keyup(function() {
            var email = $(this).val();

            if (validateEmail(email)) {
                $.ajax({
                    url: "{% url 'check_email_availability' %}",
                    type: 'POST',
                    data: {
                        email: email,
                        csrfmiddlewaretoken: '{{ csrf_token }}'  // Adding CSRF token for POST request
                    }
                }).done(function(response) {
                    $(".email_error").remove();
                    if (response == "True") {
                        $("<span class='invalid email_error'>Email Address Already Exists</span>").insertAfter("#id_email");
                    } else {
                        $("<span class='valid email_error'>Email Address Available</span>").insertAfter("#id_email");
                    }
                }).fail(function(response) {
                    $(".email_error").remove();
                    $("<span class='alert alert-warning email_error'>Server could not process the request. Please try again later.</span>").insertAfter("#id_email");
                });
            } else {
                $(".email_error").remove(); // Remove previous messages if email is invalid
            }
        });
    });
</script>
{% endblock custom_js %}
